<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/bin/tcp-server.js"></script>
  <script src="/javascripts/echarts.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>


  <style>
    /* 设置图表容器的样式 */
   .chart-container {
        display: flex;
        justify-content: space-around;
        margin-top: 200px; /* 使图表在网页偏下显示 */
    }

   .chart {
        width: 400px;
        height: 400px;
    }
</style>

</head>

<body>
  <div class="row">
    <h2>腕表手表</h2>
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6">
        <select id="dev-selector" class="form-control"></select>
      </div>
      <button class="col btn btn-success" id="open" type="button">开灯</button>
      <button class="col btn btn-warning" id="close" type="button">关灯 </button>
    </div>

  </div>
  <div class="row">
    <h2>设备列表</h2>
    <table id="dev-table" class="table table-striped">
      <tbody>
        <tr>
          <th>#</th>
          <th>IP地址</th>
          <th>ID号</th>
          <th>最后上传的数据</th>
        </tr>
      </tbody>
    </table>
    </script>


  <div class="chart-container">
    <!-- 第一个图表的 DOM 容器 -->
    <div id="chart1" class="chart"></div>
    <!-- 第二个图表的 DOM 容器 -->
    <div id="chart2" class="chart"></div>
</div>

<script src="/javascripts/index.js"></script>
</body>

</html>