<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>

  <style>
    /* 设置图表容器的样式 */
   .chart-container {
        display: flex;
        justify-content: space-around;
        margin-top: 200px; /* 使图表在网页偏下显示 */
    }

   .chart {
        width: 400px;
        height: 400px;
    }
</style>

</head>

<body>
  <div class="row">
    <h2>腕表手表</h2>
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6">
        <select id="dev-selector" class="form-control"></select>
      </div>
      <button class="col btn btn-success" id="open" type="button">开灯</button>
      <button class="col btn btn-warning" id="close" type="button">关灯 </button>
    </div>

  </div>
  <div class="row">
    <h2>设备列表</h2>
    <table id="dev-table" class="table table-striped">
      <tbody>
        <tr>
          <th>#</th>
          <th>IP地址</th>
          <th>ID号</th>
          <th>最后上传的数据</th>
        </tr>
      </tbody>
    </table>
    </script>


  <div class="chart-container">
    <!-- 第一个图表的 DOM 容器 -->
    <div id="chart1" class="chart"></div>
    <!-- 第二个图表的 DOM 容器 -->
    <div id="chart2" class="chart"></div>
</div>
<script type="text/javascript">
    // 基于准备好的 DOM，初始化第一个 ECharts 实例
    var myChart1 = echarts.init(document.getElementById('chart1'));

    // 指定第一个图表的配置项和数据
    var option1 = {
        title: {
            text: '心率'
        },
        xAxis: {
            type: 'category',
            data: []
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [],
            type: 'line',
            smooth: true
        }]
    };

    // 使用刚指定的配置项和数据显示第一个图表
    myChart1.setOption(option1);

    setInterval(function () {
        var tem = 20 + Math.random().toFixed(2) * 10;
        tem = tem.toFixed(2); // 随机数模拟温度，只保留两位小数
        var time = new Date();
        option1.xAxis.data.push(time.getHours() +":"+ time.getMinutes() + ':' + time.getSeconds());//给X轴 插入时间数据
        option1.series[0].data.push(tem);//给Y轴 插入温度数据

        // 如果数据超过6个，把第一个数据删除。
        if (option1.xAxis.data.length > 6) {
            option1.xAxis.data.shift();
            option1.series[0].data.shift();
        }
        myChart1.setOption(option1);
    }, 1000);

    // 基于准备好的 DOM，初始化第二个 ECharts 实例
    var myChart2 = echarts.init(document.getElementById('chart2'));

    // 指定第二个图表的配置项和数据
    var option2 = {
        title: {
            text: '血氧'
        },
        xAxis: {
            type: 'category',
            data: []
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [],
            type: 'line',
            smooth: true
        }]
    };

    // 使用刚指定的配置项和数据显示第二个图表
    myChart2.setOption(option2);

    setInterval(function () {
        var tem = 20 + Math.random().toFixed(2) * 10;
        tem = tem.toFixed(2); // 随机数模拟温度，只保留两位小数
        var time = new Date();
        option2.xAxis.data.push(time.getHours() +":"+time.getMinutes() + ':' + time.getSeconds());//给X轴 插入时间数据
        option2.series[0].data.push(tem);//给Y轴 插入温度数据

        // 如果数据超过30个，把第一个数据删除。
        if (option2.xAxis.data.length > 6) {
            option2.xAxis.data.shift();
            option2.series[0].data.shift();
        }
        myChart2.setOption(option2);
    }, 1000);
</script>

<script src="/javascripts/index.js"></script>
</body>

</html>